<form id="search_form">
	<label for="search_input">Search:
	</label>
	<input type="search" id="search_input" name="q" value="{{ search_term|e('html_attr') }}"/>
	<input type="submit" value="Search"/>
</form>
