{% extends "index.twig" %}

{% set tag = url_param('tag', 'string') %}
{% set tags = get_all_tags() %}
{% set search_term = url_param('q', 'string') %}

{% block content %}
	{% include 'components/search_form.twig' %}

	<ul>
		{% for tag in tags|sort %}
			<li>
				{% include 'components/tag_link.twig' with { 'tag': tag } %}
			</li>
		{% endfor %}
	</ul>
	{% for page in pages|apply_tag_filter|apply_search|sort_by("time")|reverse %}
		{% if page.id starts with "blog/" and not page.hidden %}
			<div class="post">
				<h3>
					<a href="{{ page.url }}">{{ page.title }}</a>
				</h3>
				<p class="date">{{ page.date_formatted }}</p>
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block scripts %}
	<script src="{{ theme_url }}/js/blog.js"></script>
{% endblock %}
